@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth; 
    
    
}

body{
    background-color: #131313;
}

img{
    width: 200px;
    height: 200px;
    border: red solid;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);

}
.flex-container{
    display: flex;
   
    
}

#prodctus{
 display: flex;
 justify-content: space-around;
 flex-direction: row;
 margin-top: 200px;
}